<h2><%= @ingredient.name %>
  <form class="form-group" action="/ingredients/<%= @ingredient.id %>/delete" method="post">
    <div class="form-group">
      <input type="hidden" name="_method" value="delete" class="form-control">
    </div>
    <button type="submit" name="button" class="btn">Delete Ingredient</button>
  </form>
</h2>

<form class="" action="/ingredients/<%= @ingredient.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="ingredients">Ingredients</label>
    <input id="ingredients" type="text" name="ingredients" >
  </div>
  <button type="submit" name="button" class="btn">Update ingredient</button>
</form>
<br>

<a href="/">Home</a>
