
.btn {
  background-color: lightgrey;
}

#label_rating {
  margin-bottom: 20px;
}

#delete_msg {
  margin-bottom: 20px;
}

#edit_box {
  float: left;
}

#tag_delete {
margin-bottom: 20px;
}

.well {
text-align: center;
}

#panel {
  text-align: center;
  width: 50%;
}
